body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 245, 245);
    line-height: 1.5em;
    color: #444;
}

h1, h2, h3, h4 {
    font-family: "Varela Round";
}
header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
}

header div {
    display: block;
    background-color: rgb(223, 222, 222);
    text-align: center;
    padding: 15px;
}

.tagline {
    text-align: center;
    margin: 15px auto;
}

.miss {
    display: inline;
    text-align: center;
    background-color: #444444;
    color: white;
    padding: 15px;
    line-height: 60px;
}

.articles {
    position: relative;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: auto auto;
}

.articles div {
    text-align: center;
    background-color: rgb(207, 205, 205);
    height: 400px;
    vertical-align: middle;
}

.latest {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    margin: 5px auto;
    max-width: 1300px;
}

.latest div {
    height: 500px;
    padding: 15px;
    background-color: rgb(196, 196, 196);
    text-align: center;
}

.double {
    grid-column: span 2;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgb(126, 126, 126)!important;
    color: white;
    padding: 15px;
    margin: 15px;
}

.toronto {
    height: 300px;
    text-align: center;
    padding: 15px;
    background-color: rgb(173, 173, 173);
}



.week {
    padding: 15px;
    margin: 15px;
    height: 300px;
}

.more {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

.more div {
    padding: 15px;
    height: 300px;
}

.featured {
    background-color: rgb(207, 205, 205);
}

.featured h2, .featured p {
    padding: 15px;
    margin: 15px;
}

.curated {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}

.curated div {
    height: 400px;
}

.newsletter {
    background-color: rgb(207, 205, 205);
    height: 600px;
    line-height: 600px;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
}



footer {
    text-align: center;
    height: 600px;
    line-height: 600px;
    background-color: rgb(207, 205, 205);
}